---
name: Publish to PyPI

on:
    release:
        types: [published]

    # Allows you to run this workflow manually from the Actions tab
    workflow_dispatch:

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
        -   name: Checkout
            uses: actions/checkout@v5
            with:
                fetch-depth: 0
        -   name: Set up Python
            uses: actions/setup-python@v6
            with:
                python-version: '3.12'
        -   name: Install build tools
            run: python -m pip install --upgrade build
        -   name: Build package
            run: python -m build
        -   name: Upload artifacts
            uses: actions/upload-artifact@v4
            with:
                name: dist
                path: dist/

    publish:
        needs: build
        runs-on: ubuntu-latest
        environment: pypi
        permissions:
            id-token: write
        steps:
        -   name: Download artifacts
            uses: actions/download-artifact@v4
            with:
                name: dist
                path: dist/
        -   name: Publish to PyPI
            uses: pypa/gh-action-pypi-publish@release/v1
